body{
    margin:auto;
    overflow-x: hidden;
    background-color: rgb(223, 222, 222);

}


/*------header------*/

header{
    background-color:  #f2e8f0;
}

.navbar-brand{
    font-size: 1.8em;
}
.navbar-nav{
    font-size: 1.3em;
}

#navbarContent{
    justify-content: flex-end;
}

.logo{
    margin-right: 3px;
}

/*------section bannière------*/

.background{
    background: url(../back-end/images/jlo.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.title-back{
    color: white;
    text-align: center;
}

.button-principal{
    border: 1px solid white;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 3px 15px 3px 15px;
}

.button-principal a{
    color: black;
}

/*------section produits------*/


.title-product{
    text-align: center;
    margin-top: 20px;
}

.btn-primary{
    margin-left: 25%;
    width: 50%;
}

/*------footer------*/

footer{
    background-color: #f2e8f0;
}

.display{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.display a{
    color: black;
    font-weight: 600;
}


/*---------------------------------pages produits-----------------------------*/

#objectif{
    width: 50%;
}

.quantite{
    width: 50%;
}

.center{
    display: flex;
    justify-content: center;
}

.footer-product{
    position: relative;
    bottom: 0;
    width: 100%;
}



/*------page de confirmation de commande------*/

.background-check{
    background: url(../back-end/images/pp.jpg) no-repeat center;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*------panier------*/

.bo{
    border: 2px solid #6283c9;
    border-radius: 10px;
}

#firstname, #lastname, #adresse, #city, #email{
    width: 70%;
}

.firstname, .lastname, .adresse, .city, .email{
    width: 60px;
    margin-right: -4px;
}

#firstname{
    margin-top: 10px;
}

.cent{
    text-align: center;
}

.middle{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
